<p id="notice"><%= notice %></p>
<h1>Cables<h1>
        <div class="album py-5 bg-dark">
            <% @cables.each do |cable| %>
            <div class="container">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>


                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="0%" y="50%" fill="#eceeef"
                                dy=".3em"><%= image_tag cable.photo %></text>
                        </svg>

                        <div class="card-body">
                            <div class="card-text">

                                <p>Paracord Color: <%= cable.paracord %></p>
                                <p>Connector Type: <%= cable.connector %></p>
                                <p>Build Date: <%= cable.build_date %></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                        class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', cable %></button>
                                    <button type="button"
                                        class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_cable_path(cable) %></button>
                                    <button type="button"
                                        class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', cable, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        </div>

        

        <p><%= link_to 'New Cable', new_cable_path %></p>