<h1>Build Service</h1>
<p>Interested in having me build your keyboard live on Twitch? Fill out this form and we can talk about what you're looking for. At this time, I do not source parts so please note that all parts will need to be shipped to me prior to the build.</p>

<%= form_with model: Post.new do |form| %>
  <%= form.text_field :title %>
<% end %>

<%= form_with do |form| %>
    <%= form.label :pet_dog, "I own a dog" %>
    <%= form.check_box :pet_dog %>

<form action="/index" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="email">Email Address:</label>
<input type="email" name="email" id="email">
<br>
<label for="keeb">Keyboard to be built:</label>
<input type="text" name="keeb" id="keeb">
<br>
<label for="switches">Switches:</label>
<input type="text" name="switches" id="switches">
<br>
<label for="lube">Switch Lubing Service?</label>
<input type="text" name="lube" id="lube">
<br>
<label for="parts">When will you have all parts needed for build?</label>
<input type="text" name="parts" id="parts">
<br>
<label for="address">Please provide your address to ship built keyboard back to:</label>
<input type="text" name="address" id="address">
<br>
<label for="paypal">PayPal Email:</label>
<input type="email" name="paypal" id="paypal">
<br>
<input type="submit" value="Submit">
</form>

<% end %>