<!DOCTYPE html>
<html>
  <head>
    <title>Webshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a11222043e.js" crossorigin="anonymous"></script>
  </head>
  <body>
 <%# navbar here %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">DaniPopDesigns</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <div class="nav-link"><%= link_to "Shop", "/shop" %></div>
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= link_to "Gallery", gallery_path %>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-item" >Keyboards</div>
          <div class="dropdown-item" >Cables</div>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link"><%= link_to "Build Service", build_service_path%></div>
      </li>
      <li class="nav-item">
        <div class="nav-link"><%= link_to "Blog", blog_path%></div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <%# <a href="/">Home</a>
    <%= link_to "Gallery", gallery_path %>
    <%# <%= link_to "Shop", "/shop" %>
    <%# <%= link_to "Build Service", build_service_path%> 
    <%# <%= link_to "Blog", blog_path%> 
     
    <%= yield %>
  </body>
  <footer>
    <p>Copyright 2021</p>
    <p><a href="http://www.instagram.com/danipopdesigns"><i class="fab fa-instagram"></i></a> <a href="http://www.twitch.tv/danipopdesigns"><i class="fab fa-twitch"></i></a> <a href="https://www.youtube.com/channel/UCrYEvikhRNT8UOxKmCwXw-Q"><i class="fab fa-youtube"></i></a> <a href=""> <i class="fab fa-discord"></i></a></p>
  </footer>
</html>
