<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar here -->
    <a href="/">Home</a>
    <%= link_to "Gallery", gallery_path %>
    <%= link_to "Shop", shop_path %>
    <%= link_to "Build Service", build_service_path%>
    <%= link_to "Blog", blog_path%>
   
    <%= yield %>
  </body>
  <footer>
    <p>Copyright 2021</p>
    <p><a href="">Instagram</a> <a href="">Twitch</a> <a href="">Discord</a> <a href="">Youtube</a></p>
  </footer>
</html>
